$primary-color: #020202;
$secondary-color: #b3becb;
$accent-color: #8a99af;
$background-color: #f6f8fa;

$sidebar-primary-color: $background-color;
$sidebar-background-color: #386370;
$sidebar-dark-background: #27444d;

$profile-img-size: 120px;
$shadow-color: rgba(0, 0, 0, 0.4);

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $background-color;
  color: $primary-color;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-wrapper {
  display: grid;
  grid-template-columns: 300px calc(100% - 300px);
  min-height: 100vh;
}

/* TEMP BANNER */
.warning-banner {
  background-color: red;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 10;
}
.warning-banner span {
  margin-left: 20px;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $sidebar-background-color;
  color: $sidebar-primary-color;
}
.branding {
  margin-top: 100px;
}
.avatar {
  display: flex;
  justify-content: center;
  width: $profile-img-size;
  height: $profile-img-size;
}
.avatar > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid $secondary-color;
  border-radius: $profile-img-size;
}
.id-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}
.id-wrapper .name {
  font-weight: bold;
  font-size: larger;
}
.id-wrapper .title {
  font-style: italic;
  font-size: small;
  margin-top: 5px;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-nav {
  margin-top: 25px;
  width: 80%;
}
.site-nav > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $secondary-color;
}
.site-nav:first-child {
  border-top: 1px solid $secondary-color;
}
.nav-link,
.social-link {
  text-decoration: none;
  color: $sidebar-primary-color;
}
.nav-link:link,
.nav-link:visited,
.nav-link:active,
.social-link:link,
.social-link:visited,
.social-link:active {
  text-decoration: none;
}
.nav-link:hover,
.social-link:hover {
  color: $accent-color;
  transition: 0.2s ease;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin-top: 20px;
}

/* CONTENT */
.content-wrapper {
  width: 100%;
  box-shadow: -10px 0px 5px $shadow-color;
}
.content {
  width: 80%;
  margin: 0 auto;
}

.hero {
  margin-top: 80px;
}
.hero .title {
  font-size: 3rem;
  margin: 0;
}
.hero .subtitle {
  font-size: large;
  font-style: italic;
}

section {
  margin-bottom: 40px;
}
section > h2 {
  margin: 0;
  border-bottom: 1px solid $primary-color;
}

/* EDUCATION */
.education-wrapper {
  display: flex;
}
.education-wrapper .year-range {
  font-style: italic;
  min-width: 100px;
  margin-top: 22px;
}
.university {
  font-size: larger;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}
.degree {
  margin: 0;
}
.coursework {
  margin-bottom: 0;
}
.minor-coursework {
  font-size: small;
  font-style: italic;
  margin: 0;
}

/* PROJECTS */
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 10px;
  box-shadow: -5px 5px 5px $shadow-color;
  background-color: #eee;
  flex-basis: 40%;
  min-width: 450px;
}
.project-details {
  margin: 10px;
}
.project-image {
  margin-right: 10px;
}
.project-title {
  font-weight: bold;
}
.project-description {
  font-size: small;
}
.project-link {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: none;
  background-color: $sidebar-background-color;
  color: $background-color;
  margin: 10px;
  padding: 8px 15px;
  float: right;
}
.project-link:hover {
  background-color: $sidebar-dark-background;
  transition: 0.2s ease;
}
.project-link.unavailable,
.project-link.unavailable:hover {
  background-color: #ccc;
}

/* CONTACT */
.email-link {
  font-weight: bold;
}